#placeholder {
  background-color: grey;
  width: 150px;
  height: 210px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#note {
  font-size: 12px;
}

label.awardHead {
  font-family: 'Merienda One', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.inventory {
  display: flex;
  border: 2px dotted grey;
  height: 35px;
  max-width: 92%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 5px;
}

.characterPage h1 {
  font-family: 'Merienda One', Helvetica, sans-serif;
}

.award {
  width: 35px;
  height: 35px;
  background-color: grey;
}

#chara-info {
  display: flex;
  border: 2px dotted grey;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.quests {
  margin-top: 20px;
  border: 2px dotted grey;
}

@media only screen and (min-width: 700px) {
  #main-interface {
    display: inline-block;
  }
  #chara-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
